{% extends "entries/base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8"> 
    <div class="card mb-4 mt-4"> 
        <div class="card-header bg-primary text-white">
            <h5>Créer un article de blog</h5>
        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_style">Sujet</label>
                    {{ form.subject }}
                </div>
                
                <div class="mb-3">
                    <label for="id_title" class="form-label">Titre de l'article</label>
                    <input type="text" name="entry_title" id="id_title" class="form-control" placeholder="Entrez le titre de votre article" required>
                </div>

                <div class="mb-3">
                    <label for="id_text" class="form-label">Texte de l'article</label>
                    <textarea name="entry_text" id="id_text" class="form-control" rows="5" placeholder="Entrez le contenu de votre article" required></textarea>
                </div>               

                <button type="submit" class="btn btn-primary">Envoyer l'article</button>
            </form>
        </div>
        
        {% if form.errors %}
        <div class="alert alert-danger mt-3">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
   