{% extends "entries/base.html" %}

{% block content %}
<div class="col-md-8">
    <h2 class="mb-4">Modifier la discussion</h2>
    <div class="card mb-4 mt-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="entry_title" class="form-label">Titre de l'article</label>
                    <input type="text" name="entry_title" id="entry_title" class="form-control" value="{{ form.initial.entry_title }}" required>
                </div>

                <div class="mb-3">
                    <label for="entry_text" class="form-label">Texte de l'article</label>
                    <textarea name="entry_text" id="entry_text" class="form-control" rows="8" required>{{ form.initial.entry_text }}</textarea>
                </div>

                <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
            </form>            
        </div>
    </div>
</div>
{% endblock %}
